<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4">
		  Contact: G7310, Yeung Building, City University of Hong Kong<br />
		  Tat Chee Avenue, Kowloon, Hong Kong SAR (<a href="https://www.google.nl/maps/place/City+University+of+Hong+Kong/@22.3366842,114.1702347,17z/data=!3m1!4b1!4m5!3m4!1s0x3404073400f3ef35:0xeb61704ffb0ba959!8m2!3d22.3366793!4d114.1724234?hl=en">Maps</a>)<br />
		  E-mail: sxzhang7-c AT my.cityu.edu.hk	
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
